<h1 class="text-center">Cart</h1>

<div class="text-center">
  <b *ngIf="loading$ | async">Cargando...</b>
  <b *ngIf="error$ | async">Se ha producido un error</b>
</div>

<p class="text-center display-5" *ngIf="(items$ | async)?.length == 0">
  Your car is empty. Let's start by adding some pokemons!
</p>

<table class="table table-striped" *ngIf="(items$ | async)?.length != 0">
  <thead>
    <tr class="text-center">
      <th>Pokemon</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pokemon of items$ | async">
      <td class="text-center">
        <a href="{{ pokemon.url }}" target="_blank">{{
          pokemon.name | uppercase
        }}</a>
      </td>
      <td>
        <div class="text-center">
          <button
            (click)="deletePokemon(pokemon)"
            type="button"
            class="btn btn-danger mx-2"
          >
            Delete
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
