<ul class="nav justify-content-center mb-3">
  <li class="nav-item">
    <a
      class="nav-link"
      routerLink="home"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >NgRx - Pokestore</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      routerLink="/poke-list"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Pokemon List</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      routerLink="/cart"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      style="padding-right: 5px"
      >Cart</a
    >
  </li>
  <span class="cart-counter">{{ counter }}</span>
</ul>
