<h1 class="text-center">List of Pokemons</h1>

<b class="text-center" *ngIf="loading$ | async">Cargando...</b>
<b class="text-center" *ngIf="error$ | async">Se ha producido un error</b>

<table class="table table-striped">
  <thead>
    <tr class="text-center">
      <th>Pokemon</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pokemon of pokemons$ | async">
      <td class="text-center">
        <a href="{{ pokemon.url }}" target="_blank">{{
          pokemon.name | uppercase
        }}</a>
      </td>
      <td>
        <div class="text-center">
          <button
            (click)="addPokemon(pokemon)"
            type="button"
            class="btn btn-primary mx-2"
          >
            Add
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
